.input-info {
    margin-bottom: 16px;
}

.input-box {
    border: 1px solid black;
    /* padding: 8px; */
}

.input-info label{
    font-size: 18px;
    padding: 4px 4px 0;
}

.input-info input,
.input-info textarea
{
    margin: 0 12px;
    width: 90%;
    padding: 4px;

}

.img-box {
    margin: 8px;
    border: 1px solid black;
}

.img-box img {
    width: 120px;
    height: 120px;
    padding: 6px;
}

.line {
    border-bottom: 1px solid black;
    width: 100%;
}

.sub-title {
    padding: 6px 8px 0;
}

table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 18px;
}
table {
    width: 100%;

}

th {
    text-align: center;

}

th {
    padding: 3px 32px;
}

td{
    padding: 12px 32px;
}

td input,
td select {
    border-radius: 8px;
    width: 100%;
    padding: 4px 16px;
}

.price-list .input-info {
    padding: 24px 40px;
    margin-bottom: 0;
}

.product-data-list {
    list-style: none;
    font-size: 20px;
    margin-bottom: 0;
    padding-left: 15px;
}

.product-data-item{
    padding: 16px 16px;
}

.product-data-item a{
    transition: all linear .3s;
}

.product-data-item i {
    width: 32px;
    height: 32px;
    color: #007BFF;
}

.product-data-item + .product-data-item {
    border-top: 1px solid #000;
}

.product-data-item:hover a {
    display: block;
    transform: translateX(12px);
    text-decoration: none;
    font-weight: bolder;
}

.product-data-item.active {
    font-weight: bolder;
    transform: translateX(12px) scale(1.1);
}

.product-data-input-list {
    padding: 16px 8px;
    display: none;
}

.product-data-input-list.active {
    display: block;
}

.product-data-info + .product-data-info{
    margin-top: 12px;
}

.product-data-info label{
    min-width: 140px;
    padding-left: 16px;
}

.product-data-info input{
    width: 80%;
}

.product-data .input-info {
    margin-bottom: 0;
}



.btn-add-new {
    font-size: 28px; 
    margin: 24px 0 8px 1200px;
    min-width: 200px;
}
