
.main-info-list {
  list-style: none;
}

.main-info-item {
  display: inline-block;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
}

.main-info-item:not(:last-child):after {
  display: block;
  content: "";
  height: 60%;
  border-left: 2px solid #ccc;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
}

.main-info-item a {
  display: block;
  color: #000;
  padding: 8px 12px;
}



.add-car-compare-icon.selected {
  display: none;
}

.add-car-compare-icon {
  text-align: center;
}

.add-car-compare-icon img {
  width: 60px;
}

.add-car-compare-icon img:hover {
  opacity: 0.4;
  cursor: pointer;
}

.car-model {
  text-align: center;
  display: none;
}

.car-model.selected {
  display: block;
}

.car-model-img {
  height: 260px;
  overflow: hidden;
}

.car-model-img image {
  height: 400px;
}



/* Info detail */
.info-detail-list {
  list-style: none;
  text-align: center;
}

.info-detail-item {
  display: block;
  position: relative;
  width: 90%;
  border-bottom: 1px solid rgb(180, 180, 180);
  left: 50%;
  transform: translateX(-50%);
}

.info-detail-heading {
  border: none;
  background-color: transparent;
  transition: all linear 0.15s;
}

.info-detail-heading:focus {
  outline: none;
}

.info-detail {
  font-size: 16px;
  list-style: none;
  text-align: left;
  padding: 0 15px;
  display: block;
}

.info-detail li:nth-child(2n + 1) {
  background-color: rgb(238, 238, 238);
}

.info-detail li:nth-child(2n) {
  background-color: #ffffff;
}

.info-detail-desc-first {
  background-color: rgb(190, 190, 190);
}

/* .info-detail li label:nth-child(2n) {
    background-color: rgb(201, 201, 201);
}

.info-detail li label:nth-child(2n+1) {
    background-color: #FFFFFF;
} */

.info-detail-name {
  font-weight: 800;
  padding: 8px 16px;
  /* border: 1px solid gray; */
  margin-bottom: 0;
}

.info-detail-desc-first,
.info-detail-desc-second {
  padding: 8px 16px;
  /* border: 1px solid gray; */
  margin-bottom: 0;
}

.modal.open {
  display: flex;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  z-index: 111111111;
  display: none;
}

.modal-container {
  width: 900px;
  max-width: calc(100% - 32px);
  min-height: 300px;
  background-color: #fff;
  position: relative;
  animation: modalFadeIn ease 0.5s;
}

.modal-close {
  color: #fff;
  font-size: 24px;
  padding: 8px 16px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.modal-close:hover {
  opacity: 0.8;
}

.modal-header {
  display: block !important;
  background-color: #585858;
  color: #fff;
  padding: 16px 16px 24px;
}

.header-text {
  text-align: center !important;
  font-size: 30px !important;
  letter-spacing: 4px;
  margin-bottom: 12px;
}

.search-box {
  position: relative;
}

.modal-body-input {
  display: block !important;
  width: 100%;
  font-size: 16px !important;
  border: 1px solid #ccc;
  padding: 8px;
  padding-right: 90px;
  overflow: hidden;
}

.search-icon {
  font-size: 20px !important;
  color: #f1f1f1;
  padding: 6px 24px;
  border-radius: 8px;
  background-color: #858585;
  position: absolute;
  top: 5px;
  right: 10px;
  transition: all linear 0.2s;
}

.search-icon:hover {
  opacity: 0.6;
  cursor: pointer;
}

.modal-body {
  /* margin: 16px; */
  font-size: 15px;
}

.modal-body-label {
  display: block;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 12px;
}

.suggestion-list {
  list-style: none;
  padding-left: 12px;
  height: 200px;
  overflow-y: scroll;
  transition: all linear 0.15s;
}

.suggestion-item {
  font-size: 18px;
}

.suggestion-item:hover {
  background-color: #858585;
  color: #f1f1f1;
}

/* RESPONSIVE ON MOBILE */
/* Mobile & Tablet */
@media (max-width: 63.9375em) {
  /*1023px = 63.9375em*/
}

/*Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  /*740px = 46.25em*/ /*1023px = 63.9375em*/
}

/* Mobile*/
@media (max-width: 46.1875em) {
  /*739px = 46.1875em*/
}
