
.container-fluid.wide {
    max-width: 1400px;
    text-align: center;
}


.main-info-list {
    list-style: none;
    font-size: 16px;
    margin-bottom: 0;
}

.main-info-item {
    display: inline-block;
    padding-left: 12px;
    padding-right: 12px;
    position: relative;
}

.main-info-item:not(:last-child):after{
    display: block;
    content: '';
    height: 60%;
    border-left: 2px solid #ccc;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);

}

.main-info-item a {
    display: block;
    color: rgb(80, 80, 80);
    padding: 8px 12px;
}
.main-info-item.active a{
    color: #000;
    font-weight: 700;
}


.tabs {
    /* display: flex; */
    position: relative;
    margin: 32px 0;
}

.tabs .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 6px;
    border-radius: 15px;
    background-color: #000;
    transition: all 0.2s ease;
}
.tab-item {
    display: inline-block;
    min-width: 100px;
    padding: 12px 24px 4px 24px;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    color: rgb(80, 80, 80);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid transparent;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.5s ease;
}
.tab-item:hover {
    opacity: 1;
    background-color: rgba(80, 80, 80, 0.05);
    border-color: rgba(80, 80, 80, 0.1);
}
.tab-item.active {
    opacity: 1;
}

  /* Tab content */

.tab-content {
    padding: 16px 0;
}
.tab-pane {
    color: #333;
    display: none;
}
.tab-pane.active {
    display: block;
}

.tab-pane-item {
    overflow: hidden;
}

.tab-pane-item-img {
    min-height: 210px;
    max-height: 250px;
    overflow: hidden;
}

.tab-pane-item img {
    width: 100%;
    transition: all linear .4s;
}

.tab-pane-item img:hover {
    transform: scale(1.1);
}

/* RESPONSIVE ON MOBILE */
/* Mobile & Tablet */
@media (max-width: 63.9375em){ /*1023px = 63.9375em*/

}

/*Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em){ /*740px = 46.25em*/  /*1023px = 63.9375em*/


}

/* Mobile*/
@media (max-width: 46.1875em){ /*739px = 46.1875em*/

}

