* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5 !important;
  overflow-x: hidden;
  border: 0;
  outline: 0;
  font-size: 75%;
  vertical-align: baseline;
  background: transparent;
  font-weight: inherit;
  opacity: 1;
}

.container.wide {
  max-width: 900px;
  margin: 0 auto;
}

.main {
  /* background: #f1f1f1; */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.banner-Register {
  /* height: calc(width / 3); */
  background: center / cover no-repeat;
  position: relative;
}

.banner-text {
  font-size: 60px;
  color: #f5f5f5;
  position: absolute;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.7);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.form {
  width: 360px;
  min-height: 100px;
  padding: 32px 24px;
  text-align: center;
  background: #fff;
  border-radius: 2px;
  margin: 24px;
  align-self: center;
  box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
}

#register-form {
  margin-top: 80px;
  margin-bottom: 80px;
}

.heading-form {
  font-size: 32px;
  text-align: center;
  margin-bottom: 36px;
}

.form-group {
  display: flex;
  margin-bottom: 16px;
  flex-direction: column;
}

.form-label {
  text-align: left;
  font-weight: 700;
  padding-bottom: 2px;
  line-height: 1.8rem;
  font-size: 1.4rem !important;
}

.form-control {
  height: 40px !important;
  padding: 8px 12px;
  border: 1px solid #b3b3b3;
  border-radius: 3px;
  outline: none;
  font-size: 1.4rem !important;
  width: 100%;
}

.form-control:hover {
  border-color: #696969;
}

.spacer {
  margin-top: 36px;
}

/* RESPONSIVE ON MOBILE */
/* Mobile*/
@media (max-width: 46.1875em) {
  /*739px = 46.1875em*/

  .heading {
    font-size: 1.6rem;
  }

  .banner img {
    height: 150px;
  }

  #register-form {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .banner-text {
    font-size: 1.6rem;
  }

  #register-form {
    padding: 16px;
  }
}
