.modal.open {
  display: flex;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  z-index: 111111111;
  display: none;
}

.modal-container {
  width: 900px;
  max-width: calc(100% - 32px);
  min-height: 300px;
  background-color: #fff;
  position: relative;
  animation: modalFadeIn ease 0.5s;
}

.modal-close {
  color: #fff;
  font-size: 24px;
  padding: 8px 16px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.modal-close:hover {
  opacity: 0.8;
}

.modal-header {
  display: block !important;
  background-color: #585858;
  color: #fff;
  padding: 16px 16px 24px;
}
.modal-body-input {
  display: block !important;
  width: 100%;
  font-size: 16px !important;
  border: 1px solid #ccc;
  padding: 8px;
  padding-right: 90px;
  overflow: hidden;
}
.modal-body {
  /* margin: 16px; */
  font-size: 15px;
}

.modal-body-label {
  display: block;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 12px;
}
